/* first section */
#front {
  background-color: #a64d79; /* main background */
}

.container-fluid {
  padding: 0 12% 0; /*frontpage container*/
}

.bg-custom {
  background-color: #ba5a89; /* navbar override */
}

.navbar-brand {
  font-size: 2rem;
  font-family: 'Ubuntu';
}

.nav-link {
  margin: 0 1.25rem; /* navbar links */
}

h1 {
  font-family: 'Montserrat';
  font-size: 3.5rem;
  font-weight: 900;
  padding: 3rem 0 0;
  color: white;
}

.sub { /*subtext underneath header */
  font-family: 'Ubuntu';
  font-size: 1.5rem;
  padding-bottom: 1rem;
  color: #fff
}

.btn {
  padding: 0.4rem 1rem;
  margin: 0 0.4rem;
}

.downloadlink {
  text-decoration: none;
  color: inherit;
}

.downloadlink:hover {
  text-decoration: none;
  color: inherit;
}

.phone {
  margin: 1rem 0;
  width: 60%;
  transform: rotate(10deg);
  position: relative;
  top: 1.5rem;
  left: 2rem;
}
.phone:hover {
  transform: rotate(-15deg);
}

/* Second Section */

#features p {
  color: #8f8f8f;
}

h3 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2;
  letter-spacing: 1.25px;
}

.sales { /* Divs containing each feature x3 */
  text-align: center;
  padding: 5rem;
}

.featureicon { /* feature icons collectively*/
  color: #ba5a89;
}

.featureicon:hover {
  color: #943564;
}


/* Third Section */

#testimonials {
  text-align: center;
  background-color: #a64d79;
  font-family: "ubuntu"
}

#testimonials h2 {
font-size: 3rem;
line-height: 1.5;
color: #fff;
margin: 1rem;
}

#testimonials em {
    color: #fff;
}

.carousel-item {
    padding: 2rem;
}

.reviewer { /*Customer avatar image*/
  border: 10px inset #943564;
  border-radius: 100%;
  background-color: white;
  margin: 2rem;
  width: 10%;
}

/* press section */

#press {
    background-color: #a64d79;
    text-align: center;
    padding: 4rem 0;
    color: #fff;
}

#press img {
  width: 22%;
  padding: 2.2rem;
}

/* Pricing section */

#pricing {
  text-align: center;
  padding: 3rem;
}

#pricing h3 {
  font-family: "ubuntu";
}

#pricing p {
  color: #8f8f8f;
}

.btn-custom {
  background: #ba5a89;
}

.btn-custom:hover {
  background: #943564;
}

/* cta section */

#cta {
  background-color: #a64d79;
  text-align: center;
  padding: 4rem;
}

#cta h4 {
  font-size: 44px;
  color: #fff;
  font-family: "ubuntu";
  margin: 3rem;
}

.btncta {
  margin: 1rem 2rem;
}

/* footer */

#footer {
  text-align: center;
  background-color: #fff;
  margin: 5rem 0 2.5rem;
}

#footer p {
  margin-bottom: 0;
  position: relative;
  top: 1rem;
  color: #8f8f8f;
}

.topbutton {
  background-color:#943564;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  display: inline-block;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
}

.topbtn {
  position: relative;
  left: 7px;
}

.topbutton:hover {
    background-color:#ba5a89;
}

.social-icon {
  margin: 20px 10px;
}
